Options -MultiViews
Options +FollowSymLinks
RewriteEngine On
RewriteRule ^([A-Za-z0-9-]+)$ $1.php [L]
RewriteRule ^([A-Za-z0-9-]+)/$ $1.php [L]
RewriteRule ^quote/([0-9]+)$ search-id.php?id=$1 [L]
RewriteRule ^quote/([0-9]+)/$ search-id.php?id=$1 [L]