:root {
    --font: #0A0B08;
    --link: #453B4F;
    --navtext: #E5F3EA;
    --bg: #A4D4B4;
    --nav: #45503B;
    --box: #BFE1CA;
}

a {
    color: var(--link);
    text-decoration: none;
}

.navbar a {
    color: var(--bg);
    font-style: italic;
}

.navbar {
    color: var(--navtext);
    margin-bottom: 3vh;
    background-image: linear-gradient(to right, var(--nav), var(--link));
    width: 100%
}

.right {
    float: right;
    text-align: right;
}

.center {
    align-items: center;
    text-align: center;
    
}

/* BODY & DIVS */

body {
    background: var(--bg);
    color: var(--font)
}

.container-fluid {
    padding: 0 0;

}

.max-width {
    max-width: 950px;
}

.row {
    margin: auto;
}

.green {
    background:#069206;
}

.red {
    background:#921313;
}

/* QUOTE CARD */

#quote-box {
    max-width: 550px;
}

.card-text {
    text-indent: 15px;
    margin: 5px;
}

.card-subtitle {
    font-style: italic;
}

/* TABLES */

th, td {
    padding: 0 5px;
}

td button {
    background: none;
    border: none;
}

td button:hover {
    color: #78638d;
}