:root {
    --font: #242F40;
    --font2: #58749D;
    --link: #8D3AA1;
    --navtext: #E5F3EA;
    --bg: #E5E5E5;
    --nav: #A23B72;
    --box: #CCA43B;
}

a {
    color: var(--link);
    text-decoration: none;
}

.navbar a {
    color: var(--bg);
    font-style: italic;
}

.navbar {
    color: var(--navtext);
    margin-bottom: 3vh;
    background-image: linear-gradient(to right, var(--nav), var(--link));
    width: 100%
}

.right {
    float: right;
    text-align: right;
}

.center {
    align-items: center;
    text-align: center;
    float: center;
    
}

/* BODY & DIVS */

body {
    background: var(--bg);
    color: var(--font)
}

.container-fluid {
    padding: 0 0;

}

.max-width {
    max-width: 1200px;
}

.row {
    margin: auto;
}

.green {
    background:#069206;
}

.red {
    background:#921313;
}

/* QUOTE CARD */

#quote-box {
    max-width: 550px;
}

.card-text {
    text-indent: 15px;
    margin: 5px;
    font-size: 20px;
}

.card-subtitle {
    font-style: italic;
    color: var(--font2);
}

/* TABLES */

table {
    margin-bottom: 20px;
}

th, td {
    padding: 0 5px;
}

td button {
    background: none;
    border: none;
}

tr.link:hover {
    color: var(--link);
}

button {
    width: 120px;
    border-radius: 5px;
}

.close {
    width: 25px;
    height: 25px;
    line-height: 15px;
    text-align: center;
    font-size: 15px;
}